@import 'tailwindcss';
@config '../tailwind.config.ts';

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --card: #ffffff;
  --card-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: var(--primary);
  /* The default primary color. Can be overridden in JS */
  --primary: #663399;
  --primary-foreground: #ffffff;
  --sidebar: #09090b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-sidebar: var(--sidebar);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #fafafa;
    --card: #1a1a1a;
    --card-foreground: #fafafa;
    --muted: #27272a;
    --muted-foreground: #a1a1aa;
    --secondary: #27272a;
    --secondary-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: var(--primary);
    /* --primary: O usuário continua com sua escolha mesmo no modo escuro */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .appearance-none-all::-webkit-inner-spin-button,
  .appearance-none-all::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .appearance-none-all {
    -moz-appearance: textfield;
  }
}
